 <!--Navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home/products">Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/products">Products</a>
        </li>
      </ul>
      <ul class="navbar nav">
          <li><a class="nav-link text-light">{{loginService.connectedUser!.userName}}</a></li>
          <a class="btn nav-link text-light" (click)="handleLogout()">
              <i class="bi bi-box-arrow-right"></i>
          </a>
      </ul>
    </div>
  </div>
</nav>

  <!--Pages-->
  <router-outlet>

  </router-outlet>
